body{
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#app-header {
    background-color: #343a40;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#app-header:hover {
    background-color: #495057;
}

#current-time, .timer-display {
    font-family: 'Courier New', Courier, monospace;
    font-variant-numeric: tabular-nums;
}

.item-wrapper {
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
    overflow: hidden;

    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, margin-bottom 0.5s ease-out;
}

.item-wrapper.show {
    max-height: 200px;
    opacity: 1;
    margin-bottom: 1rem;
}
